* {
    outline: 1px solid red;
}


h1{
    font-size: 1.25rem;    
}

header {
    padding-top: 0.1rem; 
    padding-left: 0.3rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.menuIcon {
    height: 20px;
    width: 20px;
    margin-left: auto;
}

button {
    background-color: white;
    border: none;
}


.menu {
    background-color: orange;
    height: 100vh;
    list-style-type: none;
    font-size: 40px;
    text-align: right;
    padding: 50px;
}

li {
    margin-top: 45px; 
}

li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}