.trusted {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .trusted hr {
    border: 20px solid black;
} */

.button-container {
    display: flex;
    justify-content: space-around;
    height: auto;

} 

.trusted button {
    background-color: grey;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

hr {
    border: 1px solid rgb(207, 205, 205);     
    width: 50%;               
}

.review-text {
    background-color: rgba(235,235,235,255);
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 85%;
}

.review-container {
    display: flex;
    justify-content: center;
}

.review-metadata {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    text-decoration: underline;
}